body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .categories {
    height: 40px;
    width: 70%;
    background-color: #007bff;
    margin-left: 15%;
    border-radius: 12px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  ul li {
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .product-list {
    text-align: center;
    padding: 20px;
  }
  .cart-list{
    height: 30px;
    width: 60px;
    background-color: #28a745;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 30px;
    cursor: pointer;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .details-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .details-button:hover {
    background-color: #0056b3;
  }
  
  .product-details {
    text-align: center;
    padding: 20px;
  }
  
  .product-image {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .product-details p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .product-details h1 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .add-to-cart-button {
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
    background-color: #28a745; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    height: 38px;
    border: none;
    transition: background-color 0.3s ease; 
  }
  
  .add-to-cart-button:hover {
    background-color: #218838; 
  }
  
  .add-to-cart-button:active {
    background-color: #1e7e34; 
  }
  
  .add-to-cart-button:disabled {
    background-color: #d6d6d6; 
    cursor: not-allowed;
  }
  